__pycache__
*.pyc
venv
package
.env
*.svg
*.png
*.dot
.DS_Store

# Config
config/rules.yaml
config/lambda.config
config/subnet_allow_list.txt
config/trusted_accounts_list.txt
config/false_positives_list.txt
config/variables.py

# Documentation

docs/build/*

# DEPRECATED
config/rules.json

