__pycache__
*.pyc
venv
package
.env
*.png

# Config
config/rules.yaml
config/lambda.config
config/subnet_allow_list.txt
config/trusted_accounts_list.txt
config/variables.py

# Documentation

docs/build/*

# DEPRECATED
config/rules.json

