{
  "version": "1.1.0",
  "types": {
    "security_group": {
      "description": "Check each rule on each security group and on each source",
      "findings": [
        {
          "message": {
            "text": "[{name}] Allow connection to specific port (or range) from public network ({source}=>{ports})",
            "args": {
              "name": {
                "type": "var",
                "variable": "sg_name"
              },
              "source": {
                "type": "var",
                "variable": "source"
              },
              "ports": {
                "type": "var",
                "variable": "ports"
              }
            }
          },
          "rules": [
            {
              "type": "is_ports",
              "description": "Check if ports is a specific port (or range) (like 9000-9001)",
              "values": [
                {
                  "type": "value",
                  "name": "is_ports",
                  "value": true
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "source",
                  "value": "ports"
                }
              ]
            },
            {
              "type": "is_private_cidr",
              "description": "Check if source is not a private CIDR block - RFC 1918",
              "values": [
                {
                  "type": "value",
                  "name": "is_private_cidr",
                  "value": false
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "source",
                  "value": "source"
                }
              ]
            }
          ],
          "severity": "high"
        },
        {
          "message": {
            "text": "[{name}] Allow connection to all port from public network ({source}=>{ports})",
            "args": {
              "name": {
                "type": "var",
                "variable": "sg_name"
              },
              "source": {
                "type": "var",
                "variable": "source"
              },
              "ports": {
                "type": "var",
                "variable": "ports"
              }
            }
          },
          "rules": [
            {
              "type": "in",
              "values": [
                {
                  "type": "value",
                  "name": "value_in",
                  "value": "all"
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "variable_in",
                  "value": "ports"
                }
              ]
            },
            {
              "type": "is_private_cidr",
              "description": "Check if source is not a private CIDR block - RFC 1918",
              "values": [
                {
                  "type": "value",
                  "name": "is_private_cidr",
                  "value": false
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "source",
                  "value": "source"
                }
              ]
            }
          ],
          "severity": "high"
        },
        {
          "message": {
            "text": "[{name}] Allow connection to all port from private network ({source}=>{ports})",
            "args": {
              "name": {
                "type": "var",
                "variable": "sg_name"
              },
              "source": {
                "type": "var",
                "variable": "source"
              },
              "ports": {
                "type": "var",
                "variable": "ports"
              }
            }
          },
          "rules": [
            {
              "type": "in",
              "values": [
                {
                  "type": "value",
                  "name": "value_in",
                  "value": "all"
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "variable_in",
                  "value": "ports"
                }
              ]
            },
            {
              "type": "is_private_cidr",
              "description": "Check if source is a private CIDR block - RFC 1918",
              "values": [
                {
                  "type": "value",
                  "name": "is_private_cidr",
                  "value": true
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "source",
                  "value": "source"
                }
              ]
            }
          ],
          "severity": "medium"
        },
        {
          "message": {
            "text": "[{name}] Allow connection to specific port (or range) from private network ({source}=>{ports})",
            "args": {
              "name": {
                "type": "var",
                "variable": "sg_name"
              },
              "source": {
                "type": "var",
                "variable": "source"
              },
              "ports": {
                "type": "var",
                "variable": "ports"
              }
            }
          },
          "rules": [
            {
              "type": "type_regex",
              "description": "Check if ports is a specific port (or range) (like 9000-9001)",
              "values": [
                {
                  "type": "value",
                  "name": "type_regex",
                  "value": "port_range"
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "ports",
                  "value": "ports"
                }
              ]
            },
            {
              "type": "is_private_cidr",
              "description": "Check if source is a private CIDR block - RFC 1918",
              "values": [
                {
                  "type": "value",
                  "name": "is_private_cidr",
                  "value": true
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "source",
                  "value": "source"
                }
              ]
            }
          ],
          "severity": "low"
        }
      ]
    },
    "metadata": {
      "description": "Check each rule on an asset (named metadata)",
      "findings": [
        {
          "message": "No security group present",
          "severity": "info",
          "rules": [
            {
              "type": "not_in",
              "description": "Check if SecurityGroups is not in metadata",
              "values": [
                {
                  "type": "value",
                  "name": "value_in",
                  "value": "SecurityGroups"
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "variable_in",
                  "value": "metadata"
                }
              ]
            }
          ]
        },
        {
          "message": {
            "text": "DnsRecord: {dns_record}",
            "args": {
              "dns_record": {
                "type": "dict",
                "key": "DnsRecord",
                "variable": "metadata"
              }
            }
          },
          "severity": "medium",
          "rules": [
            {
              "type": "in",
              "description": "Check if DnsRecord is in metadata",
              "values": [
                {
                  "type": "value",
                  "name": "value_in",
                  "value": "DnsRecord"
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "variable_in",
                  "value": "metadata"
                }
              ]
            }
          ]
        },
        {
          "message": {
            "text": "Deprecated mysql engine version ({current_version})",
            "current_version": {
              "type": "dict",
              "key": "Engine",
              "variable": "metadata"
            }
          },
          "severity": "high",
          "rules": [
            {
              "type": "in",
              "description": "Check if Engine is in metadata",
              "values": [
                {
                  "type": "value",
                  "name": "value_in",
                  "value": "Engine"
                }
              ],
              "variables": [
                {
                  "type": "var",
                  "name": "variable_in",
                  "value": "metadata"
                }
              ]
            },
            {
              "type": "engine_deprecated_version",
              "description": "Check if mysql engine is not deprecated",
              "values": [
                {
                  "type": "value",
                  "name": "engine_name",
                  "value": "mysql"
                },
                {
                  "type": "value",
                  "name": "versions",
                  "value": [
                    "5.1.0"
                  ]
                }
              ],
              "variables": [
                {
                  "type": "dict",
                  "name": "engine",
                  "value": "metadata",
                  "key": "Engine"
                }
              ]
            }
          ]
        },
        {
          "message": {
            "text": "Deprecated postgres engine version ({current_version})",
            "current_version": {
              "type": "dict",
              "key": "Engine",
              "variable": "metadata"
            }
          },
          "severity": "high",
          "rules": [
            {
              "type": "engine_deprecated_version",
              "description": "Check if postgres engine is not deprecated",
              "values": [
                {
                  "type": "value",
                  "name": "engine_name",
                  "value": "postgres"
                },
                {
                  "type": "value",
                  "name": "versions",
                  "value": [
                    "10.20",
                    "11.40"
                  ]
                }
              ],
              "variables": [
                {
                  "type": "dict",
                  "name": "engine",
                  "value": "metadata",
                  "key": "Engine"
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
